In [10]:
import pickle
import pandas as pd
import numpy as np
import xgboost as xgb

In [11]:
## Load the Trained model
model = xgb.XGBRegressor()
model.load_model('xgb_model.json')

In [12]:
## Load the label encoder
with open('onehot_encoder_loc.pkl', 'rb') as file:
    label_encoder_loc = pickle.load(file)

In [13]:
input_data = {
    'location':'Whitefield',
    'total_sqft': 800,
    'bath': 2,
    'BHK' : 2
}

In [14]:
# One-hot encode 'location'
loc_encoded = label_encoder_loc.transform([[input_data['location']]]).toarray()
loc_encoded_df = pd.DataFrame(loc_encoded, columns=label_encoder_loc.get_feature_names_out(['location']))
loc_encoded_df

c:\Users\sunde\Downloads\Real_Estate\venv\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

,location_1st Block Jayanagar,location_1st Block Koramangala,location_1st Phase JP Nagar,location_2nd Phase Judicial Layout,location_2nd Stage Nagarbhavi,location_5th Block Hbr Layout,location_5th Phase JP Nagar,location_6th Phase JP Nagar,location_7th Phase JP Nagar,location_8th Phase JP Nagar,...,location_Vishveshwarya Layout,location_Vishwapriya Layout,location_Vittasandra,location_Whitefield,location_Yelachenahalli,location_Yelahanka,location_Yelahanka New Town,location_Yelenahalli,location_Yeshwanthpur,location_other
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
input_df = pd.DataFrame([input_data])
input_df

     location  total_sqft  bath  BHK
0  Whitefield         800     2    2

In [16]:
## concatination one hot encoded 
input_df=pd.concat([input_df.drop('location',axis=1),loc_encoded_df],axis=1)
input_df

,total_sqft,bath,BHK,location_1st Block Jayanagar,location_1st Block Koramangala,location_1st Phase JP Nagar,location_2nd Phase Judicial Layout,location_2nd Stage Nagarbhavi,location_5th Block Hbr Layout,location_5th Phase JP Nagar,...,location_Vishveshwarya Layout,location_Vishwapriya Layout,location_Vittasandra,location_Whitefield,location_Yelachenahalli,location_Yelahanka,location_Yelahanka New Town,location_Yelenahalli,location_Yeshwanthpur,location_other
0,800,2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
prediction = model.predict(input_df)
prediction

array([57.316933], dtype=float32)